bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
node_modules/
.configure.bazelrc
.user.bazelrc
visualstudio/.vs/
visualstudio/bin/
visualstudio/build_protos_no_commit.bat
*.vcxproj.user
*.cache
